@import compass
@import compass/reset

html
  width: 100%
  background: #E0DBD0

body
  font-family: font,Arial,Helvetica,sans-serif
  line-height: 180%
  color: #444444
  font-size: 16px

.center
  margin: 0 auto
  width: 800px

h3
  display: block
  font-weight: bold
  color: #8C2C0C
  font-size: 20px
  margin-bottom: 10px

a
  color: #8C2C0C
  @include hover-link

#nav
  position: fixed
  display: block
  background: #CDC4B2
  overflow: hidden
  width: 100%
  bottom: 0
  text-align: center
  z-index: 10
  a
    display: inline-block
    padding: 10px 20px
    font-weight: bold
    font-size: 16px
    height: 30px
    line-height: 30px

#about
  padding: 180px 0
  h1
    display: block
    font-size: 90px
    font-weight: bold
    text-align: center
    color: #8C2C0C
    height: 90px
    line-height: 90px
  h2
    font-size: 22px
    text-align: center
  .desc
    border-top: 1px solid #8C2C0C
    margin-top: 20px
    padding-top: 10px
    text-align: center

#about_goal, #about_idea
  background: #D3CCBD
  padding: 60px 0

#about_idea
  padding-top: 0

#member
  padding: 10px 0 20px
  h3
    margin-top: 40px
  h4
    display: block
    font-weight: bold
    margin-top: 10px

#memberbox
  width: 400px
  text-align: center
#member_number
  word-spacing: 8px
  span
    cursor: pointer
#membershow
  width: 400px
  height: 200px
  padding: 0 10px 20px
  p
    text-align: left
  img
    float: left
    width: 60px
    height: 60px
    margin: 6px 20px 10px 0
  .content
    float: left
    width: 300px
  .contact
    clear: both
    margin-left: 80px
    .blog
      background-image: url('../images/blog.png')
    .twitter
      background-image: url('../images/twitter.png')
    .gurudigger
      background-image: url('../images/gurudigger.png')
    .github
      background-image: url('../images/github.png')
    .sina
      background-image: url('../images/sina.png')
    a
      display: block
      float: left
      padding-left: 20px
      height: 20px
      line-height: 20px
      margin-right: 10px
      background-position: left center
      background-repeat: no-repeat

#plan
  clear: both
  background: #D3CCBD
  padding: 20px 0 50px
  margin-top: 30px
  h3
    margin-top: 30px

#contact
  padding: 270px 0
  font-size: 20px
  text-align: center

#footer
  background: #D3CCBD
  padding: 10px 0 60px
  text-align: center
