/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 10px 0;
}

div.dokuwiki .pagename {
  float: left;
  font-size: 200%;
  font-weight: bolder;
  color: __background_alt__;
  text-align: left;
  vertical-align: middle;
}

div.dokuwiki .pagename a {
  color: __extern__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: right;
  font-size: 220%;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
}

div.dokuwiki .logo a {
  color: __background_alt__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  clear: both;
  margin: 20px 0;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}
